@import url("https://fonts.googleapis.com/css?family=Tangerine");
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Gotham Rounded;
}

.byanjonbornolessonbgimage {
  background: url(./assets/BackgroundImages/byanjonbornolessonbgimage.jpg)
    no-repeat center fixed;
  background-size: cover;
}

.mojaruintropagebgimage {
  background: url(./assets/BackgroundImages/mojaruintropagebgimage.jpg)
    no-repeat center fixed;
  background-size: cover;
}

.lessongamesbgimage {
  background: url(./assets/BackgroundImages/lessongamesbgimage.jpg) no-repeat
    center fixed;
  background-size: cover;
}

* {
  box-sizing: border-box;
}

.quiz-title {
  margin: 20px;
  font-size: 50px;
  text-align: center;
  color: red;
}

.quiz-container {
  max-width: 920px;
  min-height: 400px;
  background-color: beige;
  margin: 20px auto;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 0 10px 2px;
}

.question-count {
  font-size: 30px;
  color: brown;
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding-bottom: 10px;
}

.question {
  font-size: 24px;
  text-align: center;
  color: black;
  padding-top: 15px;
}

.btn {
  background-color: hsl(198, 38%, 88%);
  border: 1px solid black;
  border-radius: 5px;
  padding: 18px 10px;
  color: black;
  outline: none;
  font-size: 50px;
  box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0, 0, 0, 0.6);
}

.btn-video-tiles {
  background-color: rgba(232, 210, 91);
  border: 1px solid black;
  border-radius: 8px;
  justify-content: center;
  padding: 18px 10px;
  color: black;
  outline: none;
  font-size: 50px;
  height: 75px;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0),
    -8px -8px 12px 0 rgba(232, 210, 91, 0.3);
}

.btn-video-tiles:hover {
  cursor: pointer;
  background-color: whitesmoke;
}

.btn:hover {
  cursor: pointer;
  background-color: whitesmoke;
}

.btn.blur {
  filter: blur(4px);
  -webkit-filter: blur(4px);
}

.btn.correct {
  background-color: greenyellow;
}

.btn.wrong {
  background-color: red;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn-grid-byanjonbornoHome {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 2px;
  margin: 2px 0;
}

.next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  background-color: wheat;
}

.result-attribute {
  font-size: 70px;
  color: brown;
  margin: 0;
  font-family: "Tangerine", serif;
  padding-bottom: 10px;
}

.result {
  padding: 10px;
  display: inline-block;
}

.blur-element {
  filter: blur(1px) grayscale(20%);
}

.react-player {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 4%;
  margin-left: 35%;
}

.home-button:hover {
  cursor: pointer;
  background-color: whitesmoke;
}
