@import url("https://fonts.googleapis.com/css?family=Tangerine");
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Gotham Rounded;
}

body,
html {
  height: 100%;
}

.byanjonbornolessonbgimage {
  background: url(./assets/BackgroundImages/byanjonbornolessonbgimage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mojaruintropagebgimage {
  background: url(./assets/BackgroundImages/mojaruintropagebgimage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.lessongamesbgimage {
  background: url(./assets/BackgroundImages/lessongamesbgimage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.plaingreenbackgroundbgimage {
  background: url(./assets/BackgroundImages/plainGreenBackground.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.lessonsenglishbgimage {
  background: url(./assets/BackgroundImages/lessonsenglishbgimage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.lessonsbengalibgimage {
  background: url(./assets/BackgroundImages/lessonsbengalibgimage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.readingenglishbgimage {
  background: url(./assets/BackgroundImages/readingenglishbgimage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.readingbengalibgimage {
  background: url(./assets/BackgroundImages/readingbengalibgimage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.letterenglishbgimage {
  background: url(./assets/BackgroundImages/letterenglishbgimage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.letterbengalibgimage {
  background: url(./assets/BackgroundImages/letterbengalibgimage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.revisiononebengalibgimage {
  background: url(./assets/BackgroundImages/revisiononebengalibgimage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.revisiononeenglishbgimage {
  background: url(./assets/BackgroundImages/revisiononeenglishbgimage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.revisiontwobengalibgimage {
  background: url(./assets/BackgroundImages/revisiontwobengalibgimage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.revisiontwoenglishbgimage {
  background: url(./assets/BackgroundImages/revisiontwoenglishbgimage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.revisionthreebengalibgimage {
  background: url(./assets/BackgroundImages/revisionthreebengalibgimage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.revisionthreeenglishbgimage {
  background: url(./assets/BackgroundImages/revisionthreeenglishbgimage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.revisionfourbengalibgimage {
  background: url(./assets/BackgroundImages/revisionfourbengalibgimage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.revisionfourenglishbgimage {
  background: url(./assets/BackgroundImages/revisionfourenglishbgimage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
}

.quiz-title {
  margin: 2%;
  font-size: 5vh;
  text-align: center;
  color: rgba(39, 144, 200);
  font-family: kalpurush;
  font-weight: bolder;
}

.quiz-container {
  width: 60%;
  /* background-color: rgba(232, 210, 91); */
  background-color: rgba(147, 195, 85);
  margin: 2% auto;
  border-radius: 50px;
  padding: 30px;
  /* box-shadow: 0 0 10px 2px; */
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0), -8px -8px 12px 0 rgba(0, 0, 0);
}

.quiz-button-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px;
}

.question-count {
  font-size: 3vh;
  color: rgba(39, 144, 200);
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding-bottom: 10px;
  font-weight: bold;
}

.question {
  font-size: 24px;
  text-align: center;
  color: black;
  padding-top: 15px;
}

.btn,
.quiz-button {
  background-color: rgba(232, 210, 91);
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 10px;
  color: black;
  outline: none;
}

.btn {
  font-size: 5vh;
  height: 100%;
  width: 30%;
}

.quiz-button {
  font-size: 5vh;
  height: 100%;
  width: 100%;
  font-family: kalpurush;
}

.quiz-button.blur {
  filter: blur(4px);
  -webkit-filter: blur(4px);
}

.quiz-button.correct {
  background-color: greenyellow;
}

.quiz-button.wrong {
  background-color: red;
}

.result-attribute {
  font-size: 12vh;
  text-align: center;
  font-weight: bold;
  color: rgba(39, 144, 200);
  margin: 0;
  font-family: "Tangerine", serif;
  padding-bottom: 10px;
}

.result-title {
  margin-top: 0.1%;
  font-size: 5vh;
  text-align: center;
  color: rgba(39, 144, 200);
  font-family: kalpurush;
  font-weight: bolder;
}

.result {
  padding: 10px;
  display: inline-block;
}

.mute-btn {
  font-size: 2vh;
  font-weight: bold;
  padding: 10px 20px;
  background-color: rgba(232, 210, 91);
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 16%;
}

.next-btn {
  font-size: 3vh;
  font-weight: bold;
  padding: 10px 20px;
  background-color: rgba(232, 210, 91);
}

.btn-video-tiles {
  background-color: rgba(232, 210, 91);
  border: 1px solid black;
  border-radius: 20%;
  justify-content: center;
  padding: 18% 10%;
  color: black;
  outline: none;
  font-size: 5vh;
  height: 10vh;
  width: 10vh;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.5),
    -8px -8px 12px 0 rgba(0, 0, 0, 0.5);
}

.languageOptionButton {
  margin-top: 0.2%;
  margin-left: 2%;
  width: 8%;
  height: 8%;
}

.languageOptionButton:hover {
  cursor: pointer;
}

.btn:hover,
.quiz-button:hover,
.next-btn:hover,
.btn-video-tiles:hover,
.mute-btn:hover {
  cursor: pointer;
  background-color: whitesmoke;
}
